################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
*.dll
*.cache
*.pdb
*.exe
**/bin/**
**/Debug/**
**/Release/**
**/obj/**